<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Movies App</h1>
    <p class="lead">This is a movies app.</p>
  </div>
</div>


<div class="container home-container">

  <app-gallery [movies]="releases | slice:0:6"
               [title]="'New releases'"></app-gallery>

  <app-gallery [movies]="populars | slice:0:6"
               [title]="'Populars'"></app-gallery>

  <app-gallery [movies]="popularsKids | slice:0:6"
               [title]="'Populars kids'"></app-gallery>


</div>
