<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Search:</label>
        <input [(ngModel)]="search"
               name="search"
               (keyup)="searchMovie()"
               type="text"
               class="form-control"
               placeholder="Search a movie">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card-columns">

      <div class="card" *ngFor="let movie of movies">
        <img class="card-img-top" [src]="movie | movieImage" [alt]="movie.original_title">
        <div class="card-body">
          <h5 class="card-title">{{movie.original_title}}</h5>
          <p class="card-text text-justify">{{movie.overview | slice:0:250}}...</p>
          <button type="button"
                  class="btn btn-outline-primary btn-block">
            Show more...
          </button>
        </div>
      </div>


    </div>
  </div>
</div>
